#{extends 'user_center.html' /}
#{set 'title'}
    我的消息 | ${user.username}
#{/set}
<ul class="nav nav-tabs" id="tsmatch_pms">
    <li><a href="@{Messages.inbox()}">收件箱</a></li>
    <li class="active"><a href="@{Messages.outbox()}">发件箱</a></li>
    <li><a href="#">通知</a></li>
</ul>
<div id="msgType">
    <ul>
        <li><a href="">
                <i class="icon-folder-close"></i>
                未读消息
            </a>
        </li>
        <li><a href="">
                <i class="icon-folder-open"></i>
                已读消息
            </a>
        </li>
        <li><a href="">
                <i class="icon-star-empty"></i>
                收藏的消息
            </a>
        </li>
    </ul>
</div>
<div id="msgCont">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td width="60"><input type="checkbox" name="checkbox1" value="checkbox" id="checkbox1" onclick="qunSelect('checkbox1');">全选</td>
                <td width="80"><a href="javascript:delMessages('inbox');">删除消息</a></td>
                <td>&nbsp;</td>
                <td width="540">
                    <div class="page_now fr">
                        <span>&lt;&lt;</span>
                        <span>前页</span>
                        <span class="now" href="">1</span>
                        <span>后页</span>
                        <span>&gt;&gt;</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<table class="table table-striped" id="msgList" width="800" border="0">
    <thead>
        <tr>
            <th scope="col"></th>
            <th width="20%" scope="col">发件人</th>
            <th scope="col">标题</th>
            <th width="20%" scope="col">时间</th>
            <th width="10%" scope="col">操作</th>
        </tr>
    </thead>
    <tbody>
        #{list items:private_messages, as:'private_message'}
        <tr>
            *{<td width="35" align="center">                              
                <input id="checkbox" onclick="noAllSelect(1248397312);" type="checkbox" name="checkbox" value="1248397312">
            </td>}*
            <td></td>
            <td><img src="@{Application.showAvatar(private_message.to.id)}" width="48" height="48" style="margin-right: 10px;float:left"><a href="@{Users.showInfo(private_message.to.id)}">${private_message.to.username}</a></td>
            <td>${private_message.content}</td>
            <td>${private_message.time.format('yyyy-MM-dd--HH:mm:ss')}</td>
            <td>
              <a class="douban_hover" onclick="openDialog('${private_message.to.username}', ${private_message.to.id})" style="cursor:pointer;">查看详细</a>
              <a class="douban_hover" onclick="openDialog('${private_message.to.username}', ${private_message.to.id})" style="cursor:pointer;">回复</a>
              <br><a class="douban_hover" onclick="openDialog('${private_message.to.username}', ${private_message.to.id})" style="cursor:pointer;">删除</a>
            </td>
        </tr>
        #{/list}
    </tbody>
</table>