#{extends 'user_center.html' /}
#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/fileuploader.css'}" />
#{/set}
#{set 'moreJavascripts'}
    <script src="@{'/public/javascripts/client/fileuploader.js'}" type="text/javascript"></script>
#{/set}

<div id="newpost_wrapper"> 
#{ifnot post?.id}
      <h3>快速匹配</h3>
        <ul>
        <li><input class="button btn btn-warning" type="button" value="找学生">
        
        <input id="OMG" type="text" size="50" name="tags" value="" style="margin-bottom: 0">
        <input class="button btn btn-warning" type="button" value="找老师"></li>
      </ul>
      <h3>详细要求</h3>
#{/ifnot}
#{else}
    <h3>修改<span>信息</span></h3>
#{/else}
 
#{form @save(post?.id), class:'user_center_form'}
    #{ifErrors}
        <p class="error">
            请根据提示信息修正错误.
        </p>
    #{/ifErrors}
    
    #{field 'title'}
        <li><label>标题</label></li>
        <li><input type="text" name="${field.name}"  value="${post?.title}" /></li>
        #{ifError 'post.title'}<span class="error">#{error 'post.title'/}</span>#{/ifError}
    #{/field}

    #{field 'content'}
        <li><label>描述</label></li>
        <li><textarea name="${field.name}" style="color: #00B4E1; background: #EEF8FF">${post?.content}</textarea></li>
    #{ifError 'post.content'}<span class="error">#{error 'post.content'/}</span>#{/ifError}
    #{/field}
   
        #{field 'tags'}
        <li><label>关键字（由空格隔开）<a href="" class="help_message">什么是关键字？</a></label> </li>
        <li><input type="text" size="50" name="${field.name}" value="${post?.tags?.join(' ')}" /></li>
    #{/field}

    <li><input class="button btn btn-warning" type="submit" value=
        #{ifnot post?.id}
            "发布"
        #{/ifnot}
        #{else}
            "更新"
        #{/else}
    />
    </li>
#{/form}
</div>