#{extends 'user_center.html' /}
#{set title: '我的博客' /}

<div class="alert alert-info fade in"> <a class="close" data-dismiss="alert">x</a>您可以在这里发布博文，或者发布需求消息。 </div>
<a href="@{form()}" class="newblog"><span>+</span> 发布新文章</a>
<a href="@{form()}" class="newblog"><span>+</span> 发布新要求</a>
#{list items:posts, as:'post'}
    <p class="post ${post_parity}">
        <a href="@{Blogs.form(post.id)}">${post.title}</a>
    </p>
#{/list}
