@import url(new.css);
html, body {
    background: #F0F0F0;
    font-family: 'Lucida grande', verdana, sans-serif;
}

#reg {
    width: 640px;
    margin: 50px auto;
    text-align: center;
}

#reg_title {
    text-align:center;
}

#reg form {
    border: 10px solid #ccc;
    background: #fff;
    padding: 10px;
    text-align: left;
}
