@import url(new.css);
html, body {
    background: #F0F0F0;
    font-family: 'Lucida grande', verdana, sans-serif;
}

#login {
    width: 500px;
    margin: 50px auto;
    text-align: center;
}

#login_title {
	text-align:center;
}

#login form {
    border: 10px solid #ccc;
    background: #fff;
    padding: 10px;
    text-align: left;
}