/* 顶部快捷栏 */
.user_top_bar_content a:hover, .searchCont .link a:hover {
    color: #F60;
}

.user_top_bar_content a, .searchCont .link a {
    color: #27D;
    font-size: 95%;
    text-decoration: none;
}

.user_top_bar {
    height: 31px;
    background: url('../images/user_center_topbar_bg.gif')
}

.user_top_bar span{
    color:#CCCCCC;
}

.user_top_bar ul li{
    float:left;
    line-height: 22px;
    margin-right:20px;
}

.user_top_bar_content {
    height: 22px;
    line-height: 22px;
    padding: 4px 0 5px;
    margin: 0 auto;
    zoom: 1;
}

.user_top_bar_content ul li a.msggrayIcon {
    padding: 0 0 0 25px;
    background-position: 0 -60px;
}

.user_top_bar_content ul li a.mobileIcon {
    padding: 4px 0 3px 25px;
    background-position: 0 -358px;
}

.user_center_header {
    height: 75px;
    margin: 0 auto;
    background: white;
    zoom: 1;
}

.user_center_header_ads {
    float: left;
    width: 755px;
    height: 65px;
    padding: 5px 0;
    zoom: 1;
}

.user_center_header_ads .userAD {
    float: left;
    width: 480px;
    height: 60px;
    padding: 2px 0 0 70px;
    overflow: hidden;
}

.user_center_header_ads .userTel {
    float: right;
    width: 174px;
    padding: 10px 10px 0 0;
    overflow: hidden;
    zoom: 1;
}

.user_center_header_ads .userTel a:hover {
    text-decoration: none;
    color: #666;
}

.user_center_header_ads .userTel a.telIcon01 {
    background-position: 0 0;
}

.user_center_header_ads .userTel a.telIcon02 {
    background-position: 0 -20px;
}

.user_center_header_ads .userTel a {
    display: block;
    height: 20px;
    padding: 0 0 0 20px;
    margin: 0 0 5px 0;
    line-height: 20px;
    cursor: pointer;
    overflow: hidden;
    zoom: 1;
}

.user_center_header_ads .userTel strong {
    color: #F60;
    font-weight: 700;
}

/* 用户中心首页 */

.user_center_index h4 {
    text-align: center;
}

.user_center_index a {
	color: #27D;
	text-decoration: none;
}

.user_center_index a.btn {
    color: #fff;
    text-decoration: none;
}

.user_center_index a.btn:hover {
    color: #fff;
    text-decoration: none;
}

.user_center_index a:focus, .user_center_index a:hover, .user_center_index a:active {
	color: #F60;
	text-decoration: none;
}
.user_center_index p, .user_center_index li {
	line-height: 1.8em;
}

/* 多张图片的并列排放 */
.pic_list{
	overflow:hidden;
	border: 1px dashed #777;
}
.pic_list  ul.img_horizontal{
	padding:5px;
}
.pic_list  ul.img_horizontal li{
	float:left;
}
.pic_list ul#match_list li{
    margin:5px 12px;
    width:160px;
}
.pic_list ul#rec_list li{
    margin:5px 6px;
    width:80px;
}
.pic_list  ul.img_horizontal img.avatar{
    width:160px;
    height:160px;
    border: 1px dashed #777;
} 
.pic_list  ul.img_horizontal img.icon{
    width:80px;
    height:80px;
    border: 1px dashed #777;
} 
.pic_list a.block{
    margin:5px 5px 2px 0px;
    display:block;
}
.pic_list .description{
	padding:3px;
	margin:0px;
}

/* 我的位置 */

#map_canvas {
    margin:8px;
    border: #CCCCCC 1px solid;
}

/* 导航栏 */
.userNavcont { 
    width:980px; 
    margin:0 auto; 
    height:36px; 
    line-height:36px;
    background:#0270a3 url('../images/user_center_navbar_bg.gif') no-repeat; overflow:hidden; 
    zoom:1;
}
.userNavcont ul { 
    float:left; 
    margin:0;
    padding:0px 10px; 
    overflow:hidden; 
    zoom:1;
}

.userNavcont ul li { 
    display:inline;
}
    
.userNavcont ul li a { 
    float:left; 
    width:80px; 
    text-align:center; 
    line-height:36px;
    color:#fff; 
    background:url('../images/user_center_navbar_line.gif') no-repeat right center;}

.userNavcont ul li a.home{ 
    width:70px;
}

.userNavcont ul li a.short{ 
    width:40px;
}

.userNavcont ul li a:hover{ 
    color:#fff; 
    text-decoration:none; 
    font-weight:700;
    background:#054f76 url('../images/user_center_navbar_hover.gif') no-repeat right 0;
}

.userNavcont ul li a.active { 
    font-weight:700;
    text-decoration:none;
    color:#fff;
    background:#054f76 url('../images/user_center_navbar_hover.gif') no-repeat right 0;
}

.userSearch {
    padding: 5px 0;
    margin: 0 0 15px 0;
    height: 30px;
    background:#f5f5f5 url('../images/user_center_navbar_bg.gif') no-repeat 0 -36px; 
    overflow:hidden; 
}