#{extends 'user_center.html' /}
#{set 'title'}
    我的位置 | ${user.username}
#{/set}
<h4>设定位置</h4>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
  var latnum = Number("${currentGeoPoint}".split(",")[0]);
  var lngnum = Number("${currentGeoPoint}".split(",")[1]);
  var uestc = new google.maps.LatLng(latnum, lngnum);
  var marker_init = new google.maps.LatLng(latnum, lngnum);
  var marker;
  var map;

  function initialize() {
    var mapOptions = {
      zoom: 13,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      center: uestc
    };

    map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
          
    marker = new google.maps.Marker({
      map:map,
      draggable:true,
      animation: google.maps.Animation.DROP,
      position: marker_init,
      title: '拖拽选定位置'
    });
    google.maps.event.addListener(marker, 'click', toggleBounce);
    google.maps.event.addListener(marker, 'dragend', getNewPosition);
  }

  function toggleBounce() {

    if (marker.getAnimation() != null) {
      marker.setAnimation(null);
    } else {
      marker.setAnimation(google.maps.Animation.BOUNCE);
    }
  }
  
  function getNewPosition() {
    document.getElementById("geoPosition").value = marker.getPosition().lat().toFixed(5) + "," + marker.getPosition().lng().toFixed(5);
  }
  
  window.onload = initialize;
</script>
#{form action:@updateLocation(), enctype:'multipart/form-data', class:'user_center_form'}
    #{geoPosition value:currentGeoPoint /}
    <label>请输入您的地址：</label><input type="text" name="地址" style="margin-bottom: 0"/>

    
    <input type="submit" class="btn btn-warning"value="确定" />
#{/form}
<label>或者直接使用下面的地图标注：</label>
<div id="map_canvas" style="width: 500px; height: 400px;">地图模块尚未加载完成或遇到未知错误</div>