#{extends 'user_center.html' /}
#{set title: '我的积分' /}
<div class="alert alert-info fade in"> <a class="close" data-dismiss="alert">x</a>在这里你可以充值积分, 查看积分使用记录. </div>
<h4>我的积分</h4>
<p>欢迎您，${user.username}<br/><span>您的当前积分为：<strong>${user.credits}</strong>分</span><span> </span><a class="douban_hover" href="/credits">立即充值</a></p>
<h4>积分操作日志</h4>
#{list_credit_logs credit_logs:credit_logs /}