#{extends 'main.html' /}
#{set title:messages.get('user.list.title') /}
<div id="userList"">

    <label id="userListTitle">&{'user.list.title'}</label>

    <div id="userListTable">
        <table class="listing" width="800" border="0">
          <tr>
            <th width="15" scope="col">用户名</th>
            <th width="35" scope="col">基本需求</th>
            <th width="10" scope="col">性别</th>
            <th width="15" scope="col">邮箱</th>
            <th width="30" scope="col">用户类型</th>
          </tr>
        #{list items:objects, as:'user'}
            <tr class="${user_parity}">
                <td><a href="@{Users.showOthersInfo(user.id)}">${user.username}</a></td>
                <td>要求有责任心，精通数学</td>
                <td>男</td>
                <td>${user.email}</td>
                <td>${userType}</td>
            </tr>
        #{/list}
        </table>
    </div>

    <div id="userListPagination">
        #{crud.pagination /}
    </div>

</div>