#{extends 'main.html' /}
#{set title:messages.get('user.list.title') /}
<div id="userList">

    <h3>&{usertype}列表</h3>
    #{if "${usertype}" != "agency"}
    <div id="userListTable">
        <table class="table table-bordered table-striped" width="800" border="0">
          <tr>
            <th width="15%" scope="col">用户名</th>
            <th width="45%" scope="col">项目</th>
            <th width="10%" scope="col">性别</th>
            <th width="20%" scope="col">邮箱</th>
            <th width="10%" scope="col">用户类型</th>
          </tr>
          #{list items:users, as:'user'}
            <tr class="${user_parity}">
                <td><a href="@{Users.showInfo(user.id)}">${user.username}</a></td>
                <td>
                    #{if user.services || user.services?.size == 0}
                        #{list items:user.services, as:'service'}
                            ${service}${service_isLast ? '' : ', '}
                        #{/list}
                    #{/if}
                    #{else}
                        暂无数据
                    #{/else}
                </td>
                <td>男</td>
                <td>${user.email}</td>
                %{ value = messages.get('text.field.label', user.userType) }%
                <td>${value}</td>
            </tr>
          #{/list}
        </table>
    </div>
    #{/if}
    #{else}
        #{if "${usertype}" == "agency"}
            <div id="userListTable">
                <table class="table table-bordered table-striped" width="800" border="0">
                    <tr>
                        <th width="20%" scope="col">机构名</th>
                        <th width="20%" scope="col">机构地址</th>
                        <th width="10%" scope="col">已有教员</th>
                        <th width="10%" scope="col">已有学员</th>
                        <th width="40%" scope="col">可提供的教学资源</th>
                    </tr>
                    #{list items:users, as:'user'}
                        <tr class="${user_parity}">
                            <td><a href="@{Users.showInfo(user.id)}">${user.username}</a></td>
                            <td>${user.address}</td>
                            <td>73</td>
                            <td>256</td>
                            <td>
                                #{if user.services || user.services?.size == 0}
                                    #{list items:user.services, as:'service'}
                                        ${service}${service_isLast ? '' : ', '}
                                    #{/list}
                                #{/if}
                                #{else}
                                    暂无数据
                                #{/else}
                            </td>
                        </tr>
                    #{/list}
                </table>
            </div>
        #{/if}
    #{/else}
</div>