#{extends 'user_center.html' /}
#{set 'title'}
    我的资料 | ${user.username}
#{/set}

<div class="clearfix">
    <div class="showUserInfo clearfix">
        <h4>我的资料</h4>
        #{my_info_fields action:'edit', user:user/}
    </div>
    <div class="pull-right" style="width:200px">
        <h4>我的位置</h4>
        #{staticMap geoPoint:"${user.geoPoint}"/}
        <a class="douban_hover" href="@{Users.chooseLocation()}"  style="margin: 10px 0 0; float:left">编辑位置</a>
    </div>
</div>