#{extends 'main.html' /}
#{set title:messages.get('user.showInfo.title', user.username, '资料') /}

<div class="clearfix">
    <div id="userInfoShow" class="showUserInfo clearfix">
        #{if flash.pm_success}
            <a name="flash_pm_success"></a>
            <div class="alert alert-success fade in"> 
                <a class="close" data-dismiss="alert">x</a>
                ${flash.pm_success}
            </div>
            <script type="text/javascript" charset="utf-8">
                $(function() {         
                    var pos = $('a[name="flash_pm_success"]').offset().top; // 获取评论到头部的距离
                    $("html,body").animate({scrollTop:pos}, 800);
                });
            </script>
        #{/if} 
        <h3>${user.username}</h3>
        <p>
            #{show_users_rating user:user /}
            <a class="btn btn-mini" href="#rate_this">我要评价</a>
            <a class="btn btn-mini" data-toggle="modal" href="#send_pm">给${user.username}发消息</a>
            *{发送消息弹出框}*
            <div class="modal hide fade" id="send_pm">
              <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <span id="pm_title">编辑消息</span>
              </div>
              #{form @Messages.sendPM().add('returnUrl', request.url),
                  class:'form-horizontal', style:"margin-bottom: 0;" }
              <div class="modal-body">
                <fieldset>
                  <div class="control-group" style="margin-bottom: 0;">
                    <label class="control-label" for="recipient">收件人：</label>
                    <div class="controls">
                      <p name="recipient" id="username" style="padding-top: 5px;">${user.username}</p>
                      <input type="hidden" name="recipient_id" value="${user.id}"/>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="message">内容：</label>
                    <div class="controls">
                      <textarea name="message" style="width:300px; height:150px; margin-top: 9px;">
                        ${params.message}</textarea>
                    </div>
                  </div>
                  #{ifError 'message'}
                      <script type="text/javascript" charset="utf-8">
                          $(function() {         
                              // 如果消息发送出现错误, 直接打开消息发送窗口
                              $('#send_pm').modal('show')
                          });
                      </script>
                      <div class="control-group">
                          <label class="control-label"></label>
                          <div class="controls">
                              <p class="error alert alert-error">
                                  #{error 'message'/}
                              </p>
                          </div>
                      </div>
                  #{/ifError}
                </fieldset>
              </div>
              <div class="modal-footer">
                <a href="" class="btn" data-dismiss="modal">取消</a>
                <input class="btn btn-primary" type="submit" value="发送" />
              </div>
              #{/form}
            </div>
        </p>

        #{user_info_fields action:'view', user:user/}

        <div>
            <h4>该用户上传的文件</h4>
            #{list_files files:user.files /}
        </div>
    
        #{rating_form randomID:randomID, user:user, rating:rating/}

        <div>
            <h4 style="margin-bottom: 18px"><a name="ratings-list">评论详情：</a></h4>
            #{if flash.rate_success}
                <div class="alert alert-success fade in"> 
                    <a class="close" data-dismiss="alert">x</a>
                    ${flash.rate_success}
                </div>
                <script type="text/javascript" charset="utf-8">
                    $(function() {         
                        var pos = $('a[name="ratings-list"]').offset().top; // 获取评论到头部的距离
                        $("html,body").animate({scrollTop:pos}, 800);
                    });
                </script>
            #{/if} 
            #{list_ratings ratings:received_ratings /}
        </div>
    </div>
    <div class="staticMap pull-right">
        <h4>他的位置</h4>
        #{staticMap size:400, geoPoint:"${user.geoPoint}"/}
    </div>
</div>