#{extends 'user_center.html' /}
#{set title: '' /}

<div class="privacy">
	<h4>修改密码</h4>
	<ul>
		<li><label>现密码:</label><input type="text"/></li>
		<li><label>新密码:</label><input type="text"/></li>
		<li class="btn_center">
		<input class="btn btn-primary" type="submit" value="确认修改"/>
		<input class="btn btn-primary" type="button" value="取消"/>
		</li>
	</ul>
</div>