#{extends 'user_center.html' /}
#{set 'title'}
    上传头像 | ${user.username}
#{/set}
<h4>上传头像</h4>
#{form @updateAvatar(), enctype:'multipart/form-data', class:'user_center_form'}
    <img class="avatar_img" src="@{Application.showAvatar(user.id,160)}" style="width: 160px; display: block">
    <input type="hidden" name="user.id" value="${user.id}">
    <span class="file-wrapper">
        <span class="btn button">选择一张照片作为头像</span>
        <input type="file" name="user.avatar">
    </span>
    <input type="submit" class="btn btn-warning" name="submit" value="确认上传">
#{/form}