#{extends 'casino/Registration/layout.html' /}
#{set title:'注册' /}

<div id="reg">
#{form @registrationFinish(), class:'form-horizontal' }
    <legend id="reg_title">&{'registration.register_title'}</legend>
    <fieldset>
        #{if flash.error}
            <div class="alert alert-error">
                &{flash.error}
            </div>
        #{/if}
        #{if flash.success}
            <div class="alert alert-success">
                &{flash.success}
            </div>
        #{/if}
          <div class="control-group">
            <label class="control-label" for="email">&{'registration.email'}</label>
            <div class="controls">
              <input class="focused" type="text" name="email" id="email" value="${flash.email}">
              #{ifError 'email'}<span class="alert alert-error">#{error 'email' /}</span>#{/ifError}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="username">&{'registration.username'}</label>
            <div class="controls">
              <input class="focused" type="text" name="username" id="username" value="${flash.username}">
              #{ifError 'username'}<span class="alert alert-error">#{error 'username' /}</span>#{/ifError}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="password">&{'registration.password'}</label>
            <div class="controls">
              <input class="focused" type="password" name="password" id="password" value="">
              #{ifError 'password'}<span class="alert alert-error">#{error 'password' /}</span>#{/ifError}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="confirm">&{'registration.confirm'}</label>
            <div class="controls">
              <input class="focused" type="password" name="confirm" id="confirm" value="">
              #{ifError 'confirm'}<span class="alert alert-error">#{error 'confirm' /}</span>#{/ifError}
            </div>
          </div>
          
          <div class="control-group">
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" name="acceptTermsOfService" id="acceptTermsOfService" value="true" ${flash.acceptTermsOfService ? 'checked':''}>&{'registration.acceptTermsOfService'}
              </label>
            </div>
          </div>
          <div class="control-group">
             <label class="control-label">&{'registration.recaptcha'}</label>
             <div class="controls">
                #{ugot.recaptcha theme:"clean", tabindex:"2"/}
                #{ifError 'captcha'}<span class="alert alert-error">#{error 'captcha' /}</span>#{/ifError}
             </div>
          </div>
          <div class="form-actions">
            <button type="submit" id="submit" class="btn btn-primary">&{'registration.register'}</button>
            <a href="@{casino.Secure.login()}" class="btn">&{'views.main.tools.login'}</a>
            <a href="@{Application.index()}" class="btn">&{'login.back.to.homepage'}</a>
          </div>
    </fieldset>
#{/form}
</div>