#{extends 'user_center.html' /}
#{set 'title'}
    用户中心 | ${user.username}
#{/set}
<div>
    <div class="user_center_index">
        <h4>为您匹配了以下用户<small><a href="@{UserCenter.matchlist()}">(查看详细列表)</a></small></h4>
        <div class="pic_list">
            <ul class="img_horizontal" id="match_list">
                #{index_match_list users:matched_users/}
            </ul>
        </div>

        <h4>为您推荐的学习资源<small><a href="@{UserCenter.reclist()}">(查看更多)</a></small></h4>
        <div class="pic_list">
            <ul class="img_horizontal" id="rec_list">
                #{index_rec_list files:rec_files/}
            </ul>
        </div>
    </div>
</div>