#{extends 'user_center.html' /}
#{set 'title'}
    匹配列表 | ${user.username}
#{/set}
<div>
    <h4>匹配列表</h4>
    <div class="pic_list">
        <ul class="img_horizontal" id="match_list">
            #{index_match_list users:matched_users/}
        </ul>
    </div>
</div>
