#{extends 'user_center.html' /}
#{set 'title'}
    推荐列表 | ${user.username}
#{/set}
<div>
    <h4>推荐列表</h4>
    <div class="pic_list">
        <ul class="img_horizontal" id="rec_list">
            #{index_rec_list files:rec_files/}
        </ul>
    </div>
</div>
