%{ user = _user}%
<tr>
    %{
        if(user.gender==1) gender='男'
        else gender='女'
    }%
    #{text_field action:_action, name:'gender', value:gender /}
</tr>
<tr>
    #{text_field action:_action, name:'age', value:user.age /}
</tr>
<tr>
    #{text_field action:_action, name:'address', value:user.address /}
</tr>
<tr>
    #{text_field action:_action, name:'userType', value:user.userType /}
</tr>
<tr>
    #{text_field action:_action, name:'level', value:user.level /}
</tr>
<tr>
    %{
        if(user.toHouse==true) toHouse='愿意'
        else toHouse='不愿意'
    }%
    #{text_field action:_action, name:'toHouse', value:toHouse /}
</tr>
<tr>
    #{label_for_service user:user /}
    #{if _action=='edit'}
    <td valign="top">
        <input type="text" size="10" name="services" value="${user?.services?.join(' ')}" />
    </td>    
    #{/if}
    #{else _action=='show'}
        #{show_services user:user /}
    #{/else}
</tr>
<tr>
    <td class="m" valign="top" align="right">
        %{ labelname = messages.get('text.field.label', 'credits') }%
        ${ labelname }
    </td>
    %{ value = messages.get('text.field.label', user.credits) }%
    <td valign="top">
        ${value}
        #{if _action=='edit'}
        <span> </span><a class="douban_hover" href="/credits">积分管理</a>
        #{/if}
    </td>
</tr>