*{ Display a post in one of these modes: 'full', 'home' or 'teaser' }*
 
<div class="post ${_as == 'teaser' ? 'teaser' : ''}">
    <h3 class="post-title">
        <a href="@{Application.show(_post.id)}">#{if _as == 'home'}【最新发布】#{/if}${_post.title}</a>
    </h3>
    <div class="post-metadata">
        <span class="post-author">该条信息由【${_post.author.username}】发布</span>,
        <span class="post-date">${_post.postedAt.format('MMM dd')}</span>
        #{if _as != 'full'}
            <span class="post-comments">
                &nbsp;|&nbsp; ${_post.comments.size() ?: '0'} 
                条评论
                #{if _post.comments}
                    ，最新一条评论由${_post.comments[-1].author}发布
                #{/if}
            </span>
        #{/if}
        #{elseif _post.tags}
            <span class="post-tags">
                - 关键字：
                #{list items:_post.tags, as:'tag'}
                    <a href="@{Application.listTagged(tag.name)}">${tag}</a>${tag_isLast ? '' : ', '}
                #{/list}
            </span>
        #{/elseif}
    </div>
    #{if _as != 'teaser'}
        <div class="post-content">
            <div class="about">Detail: </div>
            ${_post.content.nl2br()}
        </div>
    #{/if}
</div>
 
#{if _as == 'full'}
    <div class="comments">
        <h3>
            已有${_post.comments.size() ?: '0'} 
            条评论
        </h3>
        
        #{list items:_post.comments, as:'comment'}
            <div class="comment">
                <div class="comment-metadata">
                    <span class="comment-author">【${comment.author}】</span>
                    <span class="comment-date">
                        ${comment.postedAt.format('yyyy MMM dd')}
                    </span>
                </div>
                <div class="comment-content">
                    <div class="about">Detail: </div>
                    ${comment.content.escape().nl2br()}
                </div>
            </div>
        #{/list}
        
    </div>
#{/if}