#{field _name}
    <label for="${field.id}">
        &{_name}
    </label>

    <select id="${field.id}" name="${field.name}" style="border:1px solid #00B4E1; background: #EEF8FF">
        %{ _property.choices.each() { }%
            %{
            selected = false;
            if(field.error?.message != 'validation.required') {
                selected = it == _value;
            }
            label = it.toString()

            }%
            <option name="${it.name()}" ord="${it.ordinal()}" value="${it.name()}" ${selected ? 'selected="true"'.raw() : ''}>${label}</option>
        %{ } }%
    </select>

    #{ifError field.name}
        <span class="error">${field.error.raw()}</span>
    #{/ifError}
#{/field}