<table style="clear:both" width="100%" align="center" cellpadding="5">
    <tbody>
        %{ file = _file}%
        <tr>
            #{if _action == 'edit'}
                #{text_field action:_action, name:'description', value:file.description /}
            #{/if}
            #{else}
                <td class="m" valign="top" align="right">
				    %{ labelname = messages.get('text.field.label', 'description') }%
				    ${ labelname }
				</td>
				<td valign="top">${file.description}</td>
            #{/else}
        </tr>
    </tbody>
</table>