*{页脚}*
<div id="footer" class="container">
  <div class="upper_footer">
    <div id="footer_wrapper">
      <ul class="footer_nav">
        <h4>关于</h4>
        <li><a href="/posts">关于我们</a></li>
        <li><a href="@{Application.getCities('510000')}">产品博客</a></li>
        <li><a href="@{Application.getProvinces()}">帮助 &amp; 支持</a></li>
        <li><a href="/public/404.html">联系我们</a></li>
      </ul>
      <ul class="footer_nav">
        <h4>服务条款</h4>
        <li><a href="/public/404.html">学员必读</a></li>
        <li><a href="/public/404.html">教员必读</a></li>
        <li><a href="/public/404.html">注意事项</a></li>
        <li><a href="/public/404.html">常见问题（FAQs）</a></li>
      </ul>
      <ul class="footer_nav">
        <h4>其他</h4>
        <li><a href="/public/404.html">网上商店</a></li>
        <li><a href="/public/404.html">增值服务</a></li>
        <li><a href="/public/404.html">服务特色</a></li>
        <li><a href="#">########</a></li>
      </ul>
      <ul class="footer_nav">
        <h4>支付</h4>
        <li><a href="/public/404.html">支付宝</a></li>
        <li><a href="/public/404.html">财付通</a></li>
        <li><a href="/public/404.html">网银</a></li>
        <li><a href="/public/404.html">汇款</a></li>
      </ul>
    </div>
  </div>
</div>