%{ _users.eachWithIndex() { user, k -> }%
    <li>
        <img src="@{Application.showAvatar(user.id,160)}" class="avatar"/>
        <a href="@{Relations.denyMatch(user.id)}" class="pull-right block btn btn-mini btn-danger">拒绝匹配</a>
        <a href="@{Users.showInfo(user.id)}" class="block">${user.username} </a>
        %{
            if(user.gender==1) gender='男'
            else gender='女'
        }%
        <p class="description">${"性别："+ gender}&nbsp;&nbsp;&nbsp;&nbsp;
                               &nbsp;&nbsp;&nbsp;&nbsp;${"年龄：" + user.age
                                + "岁"}<br>${"课程：" + user.services.join(' ')}</p>
    </li>
%{ } }%