<table cellspacing="0" cellpadding="0" summary="这些用户在寻找学员" class="table table-striped table-bordered">
  <tbody>
    %{ _posts.each() { }%
      <tr>
        <td><a href="@{Application.show(it.id)}">${it.title}</a>
         - <a href="@{Users.showInfo(it.author.id)}">${it.author.username}</a></td>
      </tr>
    %{ } }%
  </tbody>
</table>