%{ _users.eachWithIndex() { user, k -> }%
    #{if k % 2 == 0}
    <ul class="memberlist unstyled">
    #{/if}
    <li class="${k % 2 == 0 ? '' : 'right'}">
        <p class="photo"><a href="@{Users.showInfo(user.id)}" target='_blank'><img src="@{Application.showAvatar(user.id,1)}"/></a></p>
        <div class="startext">
          <h3>
            <a class='star_level' href='#' target='_blank' style='' >
              <img src='/public/images/star_vip.gif' border='0' style='margin-bottom:-3px' />
            </a>
            <a href="@{Users.showInfo(user.id)}" target='_blank'>${user.username}</a>
          </h3>
          ${user.address}
          <span class="intro">拉丁舞</span>
        </div>
        <a class="detail-info" href="@{Users.showInfo(user.id)}" target='_blank'>
            <i class="icon-info-sign"></i>
            详细资料
        </a>
    </li>
    *{ 判断是否需要添加</ul>标签, 作为一行的结尾 }*
    #{if k % 2 == 1 || k == _users.size() - 1}  
    </ul>
    #{/if}
%{ } }%