%{ _files.eachWithIndex() { file, k -> }%
    <li>
        <img src="@{Application.showFileIcon(file.id,80)}" class="icon"/>
        <a href="@{UploadFiles.showdetail(file.id)}" class="block">
            ${file.filename.size() > 7 ? file.filename[0..6] + '...' : file.filename}</a>
        <p class="description">资料简介</p>
    </li>
%{ } }%