<option value="all">不限</option>
%{ _choices.each() { }%
    %{
        selected = false
        if(params._contains(_name)) {
            selected = (it == params.get(_name))
        }
    }%
    <option value="${it}" ${selected ? 'selected="true"'.raw() : ''}>
        ${it}
    </option>
%{ } }%