#{if _ratings.size() != 0}
<div class="doc-review-summary">
    #{list items:_ratings, as:'rating'}
    <div class="doc-review">
        <span class="doc-review-author">
            <strong>${rating.getRater().username}</strong>
        </span>
        <span class="doc-review-date"> - ${rating.ratedAt.format('yyyy-MM-dd--HH:mm:ss')}</span>
        <span data-num="${rating.rating_score}" class="ac-star">
            <span style="width:${ rating.rating_score * 14 - 2}px"></span>
        </span>
        <p class="review-text">${rating.content}</p>
        <div class="review-footer goog-inline-block">
            <div class="doc-review-label"></div>
            <div class="per-review-controls goog-inline-block"></div>
        </div>
    </div>
    <hr>
    #{/list}
</div>
#{/if}
#{else}
<br/>
<p class="m">该用户还没有收到任何评论，立即给他第一条评论吧！</p>
<p></p>
#{/else}