<table class="table table-bordered table-striped credit_logs_list" width="800" border="0">
    <thead>
        <tr>
            <th scope="col">时间</th>
            <th scope="col">操作描述</th>
            <th scope="col">积分变动</th>
        </tr>
    </thead>
    <tbody>
        %{ _credit_logs.each() { credit_log -> }%
        <tr>
            <td>${credit_log.time.format('yyyy-MM-dd--HH:mm:ss')}</td>
            <td>${credit_log.description}</td>
            <td>${credit_log.amount}</td>
        </tr>
        %{ } }%
    </tbody>
</table>