#{if _files.size() != 0}
<table class="table table-bordered table-striped files0" border="0">
    <thead>
        <tr>
            <th scope="col">文件名(点击查看详情)</th>
            <th scope="col">文件说明</th>
            <th scope="col">上传时间</th>
        </tr>
    </thead>
    <tbody>
        %{ _files.each() { file -> }%
        <tr>
            <td style="width:20%">
              <a class="douban_hover" href="@{UploadFiles.showdetail(file.id)}">
                ${file.filename}</a>
              (<a href="@{UploadFiles.editFileInfo(file.id)}" 
                  class="douban_hover">编辑</a>)
            </td>
            <td>
                ${file.description.size() >= 34 ? file.description[0..33] + '...' : file.description}</td>
            <td style="width:20%">${file.uploadedAt.format('yyyy-MM-dd--HH:mm:ss')}</td>
        </tr>
        %{ } }%
    </tbody>
</table>
#{/if}
#{else}
<br/>
<p class="m">尚未上传任何文件</p>
<p></p>
#{/else}