#{form action:@save(), enctype:'multipart/form-data'}	
	<table style="clear:both" width="100%" align="center" cellpadding="5">
	    <tbody>
	        %{ user = _user}%
	        <tr>
	            #{text_field action:'edit', name:'username', value:user.username /}
	        </tr>
	        <tr>
	            <td class="m" valign="top" align="right">头像</td>
	            <td valign="top">
	                <img src="@{Application.showAvatar(user.id)}" 
	                    width="48" height="48" style="margin:10px;float:left">
	                <div style="margin:10px;float:left">
	                    <img src="@{Application.showAvatar(user.id,160)}" width="160" height="160"/>
	                    <br/>头像图标
	                </div>
	                <a class="douban_hover" href="@{Users.uploadAvatar()}" 
	                    style="margin:10px;float:left;padding:2px 5px;backgroud:#669;">更新头像</a>
	                <br/><br/>
	            </td>            
	        </tr>
	        #{common_info_fields action:'edit', user:_user/}
	        <tr>
	            <td></td>
	            <td>
	                <input type="submit" class="btn btn-small btn-primary" value="更新资料" />
	            </td>
	        </tr>
	    </tbody>
	</table>
#{/form}