#{field 'object.' + _name}
    <label for="${field.id}">
        %{ labelname = messages.get('text.field.label', _name) }%
        &{ labelname }
    </label>
    ${_value?.raw()}
    #{ifError field.name}
        <span class="error">${field.error.raw()}</span>
    #{/ifError}
#{/field}
