*{使用该标签需要传入3个参数：user: 被评价的用户(或者file: 被评价的文件)；rating: 是否评价过该用户；randomID: 验证码ID}*
<div id="j-rating" class="ac-rating">
    <div class="head title_anchor">
        %{ type = '文件'}%
        #{if _user!=null}
            %{type = '用户'}%
        #{/if}
        <h4><a name="rate_this">评价该${type}</a></h4>
    </div>
    <div class="body">
        #{form name:'ratingForm', action:@Ratings.rate(), method:'POST', 
          enctype:'multipart/form-data', onsubmit:'return validateRatingForm()'}
          <p>
            <label>评&nbsp;&nbsp;&nbsp;&nbsp;分：</label>
            <span data-num="0" class="ac-star j-star">
              <span style="width:-2px"></span>
              <a title="+1" href="#">1</a>
              <a title="+2" href="#">2</a>
              <a title="+3" href="#">3</a>
              <a title="+4" href="#">4</a>
              <a title="+5" href="#">5</a>
            </span>
            <span class="alert alert-error notice-add hidden j-rateNotice">请打分!</span>
            #{if _rating?.id}
            <span class="alert alert-info notice-change">(您曾经评价过该${type})</span>
            #{/if}
            <input type="hidden" value="0" name="score">
            <input type="hidden" value="${_user?.id}" name="userId">
            <input type="hidden" value="${_file?.id}" name="fileId">
          </p>
            <p><label>内&nbsp;&nbsp;&nbsp;&nbsp;容：</label>
                <textarea placeholder="" name="content">${params.content}</textarea>
            </p>
            <p class="check-code j-checkcode hidden">
                <label>验证码:</label>
                <input type="text" name="code" />
                <input type="hidden" name="randomID" value="${_randomID}" />
                <img height="23" width="68" class="j-changecode" src="@{Application.captcha(_randomID)}">
                <a class="change-code j-changecode" href="#">看不清<br>换一张</a>
            </p>
            #{ifError 'content'}
                <p class="error alert alert-error">
                    #{error 'content'/}
                </p>
            #{/ifError}
            #{else}
                #{ifError 'code'}
                    <p class="error alert alert-error">
                        #{error 'code'/}
                    </p>
                    <script type="text/javascript" charset="utf-8">
                        $(function() {         
                            var checkcode = $('form[name="ratingForm"] p.j-checkcode');
                            checkcode.removeClass('hidden');
                            var pos = $('a[name="rate_this_user"]').offset().top; // 获取评论到头部的距离
                            $("html,body").animate({scrollTop:pos}, 800);
                        });
                    </script>
                #{/ifError}
            #{/else}
            <p class="operate">
                <button class="submit btn btn-primary" type="submit">提交评论</button>
            </p>
        #{/form}
    </div>
</div>