%{ _users.eachWithIndex() { user, k -> }%
    #{if k % 2 == 0}
    <ul class="memberlist unstyled" style="background:none;">
    #{/if}
    <li class="${k % 2 == 0 ? '' : 'right'}" style="background:none;">
        <p class="photo"><a href="@{Users.showInfo(user.id)}" target='_blank'><img src="/public/images/avatar/test_avatar.jpg"/></a></p>
        <div class="startext">
          <h3>
            <a class='star_level' href='#' target='_blank' style='' >
              <img src='/public/images/star_vip.gif' border='0' style='margin-bottom:-3px' />
            </a>
            <a href="@{Users.showInfo(user.id)}" target='_blank'>${user.username}</a>
          </h3>
          ${user.address}
          <div class="intro"></div>
          <div class="pull-right">
            <a href="@{Users.showInfo(user.id)}" target='_blank'>
              <i class="icon-info-sign"></i>
              查看详细资料
            </a>
          </div>
        </div>
    </li>
    #{if k % 2 == 1 || k == _users.size() - 1} 
    </ul>
    #{/if}
%{ } }%