<div class="searchCont fixfloat">
    <ul>
      <li> 我要找
        <select name="criteria_type" id="criteriaType">
          <option value="all">不限</option>
          <option value="mentor" ${params.criteria_type=="mentor" ? 'selected="true"'.raw() : ''}>
            教师</option>
          <option value="mentee" ${params.criteria_type=="mentee" ? 'selected="true"'.raw() : ''}>
            学生</option>
          <option value="agency" ${params.criteria_type=="agency" ? 'selected="true"'.raw() : ''}>
            培训机构</option>
        </select>
      </li>
      <li> 课程
        <select name="criteria_course" id="criteriaCourse">
        </select>
      </li>
      <li> 学历
        <select name="criteria_level" id="criteriaLevel">
        </select>
      </li>
      <li> 城市
        <select name="criteria_city" id="criteriaCity">
          <option value="0"></option>
        </select>
      </li>
      <li id="select_district"> 地区
        <select name="criteria_district" id="criteriaDistrict">
          <option value="0"></option>
        </select>
      </li>
      <li><a class="btn btn-small btn-primary" onclick="condition_search()" style="cursor:pointer;">
        搜索</a></li>
      <li class="link">
        <a href="@{Application.keywordSearch()}" target="_blank">关键字搜索</a>
      </li>
    </ul>
</div>