%{file = _file}%
<a href="@{Application.showFileIcon(file.id,160)}" class="user_avatar">
  <img src="@{Application.showFileIcon(file.id,80)}" width="50" height="50">
</a>
<b>得分：</b>
<u style="text-decoration: none; display: block; line-height: 1.5">
    <span data-num="${file.rating_average}" class="ac-star">
        <span style="width:${ file.rating_average * 14 - 2}px"></span>
    </span>
    ${file.rating_average.trunc(1)}分（已有${file.rating_amount}人评价）
</u>