%{user = _user}%
<a href="@{Application.showAvatar(user.id,160)}" class="user_avatar">
  <img src="@{Application.showAvatar(user.id,80)}" width="50" height="50">
</a>
<b>得分：</b>
<u style="text-decoration: none; display: block; line-height: 1.5">
    <span data-num="${user.rating_average}" class="ac-star">
        <span style="width:${ user.rating_average * 14 - 2}px"></span>
    </span>
    ${user.rating_average.trunc(1)}分（已有${user.rating_amount}人评价）
</u>