<td class="m" valign="top" align="right">
    %{ labelname = messages.get('text.field.label', _name) }%
    ${ labelname }
</td>
%{ value = messages.get('text.field.label', _value) }%
#{if _action=='edit'}
    <td valign="top">
        <input type="text" name="${_name}" value="${value}" size="10" />
    </td>
#{/if}
#{else}
    <td valign="top">${value}</td>
#{/else}