#{extends 'casino/Secure/layout.html' /}
#{set title:'登录' /}

<div id="login">
#{form @authenticate(), class:'form-horizontal' }
    <legend id="login_title">&{'secure.title'}</legend>
    <fieldset>
    #{if flash.error}
        <div class="alert alert-error">
            &{flash.error}
        </div>
    #{/if}
    #{if flash.success}
        <div class="alert alert-success">
            &{flash.success}
        </div>
    #{/if}
    <div class="control-group">
        <label class="control-label" for="username">&{'secure.username'}</label>
        <div class="controls">
          <input class="focused" type="text" name="username" id="username" value="${flash.username}">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">&{'secure.password'}</label>
        <div class="controls">
          <input class="focused" type="password" name="password" id="password" value="">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''}>
            下次自动登录
          </label>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">登录</button>
        <a href="@{casino.Registration.registration()}" class="btn">&{'login.register.new.user'}</a>
        <a href="@{Application.index()}" class="btn">&{'login.back.to.homepage'}</a>
    </div>
    </fieldset>
#{/form}
</div>