#{extends 'user_center.html' /}
#{set 'title'}
    ${file.filename}
#{/set}

<div class="editUserInfo">

    <h4>编辑文件“${file.filename}”的资料</h4>

    <div>
        #{form action:@save(), enctype:'multipart/form-data'}
        <table style="clear:both" width="100%" align="center" cellpadding="5">
            <tbody>
                <tr>
                    <td class="m" valign="top" align="right">
                        %{ labelname = messages.get('text.field.label', 'filename') }%
                        ${ labelname }
                    </td>
                    <td valign="top">
                        <input name="filename" id="filename" value="${file.filename}" />
                    </td>
                </tr>
                <tr>
		            <td class="m" valign="top" align="right">
					    %{ labelname = messages.get('text.field.label', 'description') }%
					    ${ labelname }
					</td>
                    <td valign="top">
                        <textarea name="description" id="description"
                            style="height: 100px; width: 400px">${file.description}
                        </textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <input id="id" type="hidden" name="id" value="${file.id}"/>
        <p>
            <input type="submit" class="btn" name="_save" value="保存修改" />
        </p>
        #{/form}
    </div>
</div>