#{extends 'main.html' /}
#{set title: file.filename.tokenize('.').get(0) /}

<div class="clearfix">
    <div id="userInfoShow" class="showUserInfo clearfix">
        *{<div id="ratings_distribution" class="pull-right">
            <h4>评分情况：</h4>
        </div>}*
        <h3>${file.filename.tokenize('.').get(0)}</h3>
        <p>
            #{show_files_rating file:file /}
            <a class="btn btn-mini" href="#rate_this">我要评价</a>
            <a class="btn btn-mini popup-marker" id="download_button" href="@{UploadFiles.download(file.id)}" 
              data-toggle="popover" data-placement="bottom" 
              data-content="积分不足，不能下载！(点击任意地方隐藏本提示)"
              title="" data-original-title="提示">
              下载${file.filename}</a>
        </p>
        <script type="text/javascript" charset="utf-8">        
            $(document).click(function(e) {
                if(isVisible) {
                    $('.popup-marker').popover('hide')
                    isVisible = false
                }
            });
        </script>
        #{file_info_fields action:'show', file:file/}
        <h4>喜欢该文件的用户还喜欢：</h4>
	    <div class="pic_list">
	        <ul class="img_horizontal" id="rec_list">
	            #{index_rec_list files:similar_files/}
	        </ul>
	    </div>
        #{rating_form randomID:randomID, file:file, rating:rating/}
        <div>
            <h4 style="margin-bottom: 18px"><a name="ratings-list">评论详情：</a></h4>
            #{if flash.rate_success}
                <div class="alert alert-success fade in"> 
                    <a class="close" data-dismiss="alert">x</a>
                    ${flash.rate_success}
                </div>
                <script type="text/javascript" charset="utf-8">
                    $(function() {         
                        var pos = $('a[name="ratings-list"]').offset().top; // 获取评论到头部的距离
                        $("html,body").animate({scrollTop:pos}, 800);
                    });
                </script>
            #{/if} 
            #{list_ratings ratings:received_ratings /}
        </div>
    </div>
</div>