#{extends 'user_center.html' /}
#{set 'title'}
    上传文件 | ${user.username}
#{/set}
#{set 'fileuploaderStyle'}
    <link rel="stylesheet" type="text/css" media="screen" 
        href="@{'/public/stylesheets/fileuploader.css'}" />
#{/set}
#{set 'fileuploaderJavascript'}
    <script src="@{'/public/javascripts/client/fileuploader.js'}" 
            type="text/javascript">
    </script>
#{/set}
<h4>上传文件</h4>
<div id="file-uploader" style="margin:10px 0; width:300px; float:left">
    <noscript>
        <p>Please enable JavaScript to use file uploader.</p>
        <!-- or put a simple form for upload here -->
    </noscript>
    #{if credits > 0}
    <script>
        function createUploader(){
            var uploader = new qq.FileUploader({
                element: document.getElementById('file-uploader'),
                action: '/uploadfiles/ajaxUploadOneFile',
                template: '<div class="qq-uploader">' + 
                    '<div class="qq-upload-drop-area">' +
                    '<span>将文件拖拽到此区域上传</span></div>' +
                    '<div class="qq-upload-button">' +
                    '上传资源文档（支持拖拽）</div>' +
                    '<ol class="qq-upload-list"></ol>' + 
                    '<div class="qq-edit-file-info-hint">' +
                        '<a class="douban_hover" href="/list_my_files">' +
                        '到文件列表页面编辑文件资料' + 
                        '</a></href>' +
                    '</div>',
                fileTemplate: '<li>' +
                    '<span class="qq-upload-file"></span>' +
                    '<span class="qq-upload-spinner"></span>' +
                    '<span class="qq-upload-size"></span>' +
                    '<a class="qq-upload-cancel" href="#">取消</a>' +
                    '<span class="qq-upload-failed-text">上传失败</span>' +
                    '</li>',
                debug: true
            });
        }
        
        window.onload = createUploader;
    </script>
    #{/if}
    #{else}
    <div class="qq-uploader">
        <div class="qq-upload-button" 
            style="position: relative; overflow: hidden; direction: ltr; background: #7f7f7f;">
            积分不足！不能上传文件。
        </div>
    </div>
    #{/else}
</div>
<div style="color:red; margin-top:26px">
    上传文件需要积分，您的当前积分：
    <span id="credits">${user.credits}</span>
</div>