#{extends 'main.html' /}
#{set title:'搜索结果' /}
<div class="clearfix">
  <div class="row">
      <div class="span9" id="search_result">
        <h4>搜索条件:</h4>
        %{ type = params.criteria_type }%
        <p>类型: &{type} + 课程: ${params.criteria_course} + 层级: ${params.criteria_level} + 地区: ${params.criteria_district}</p>
        <h4>搜索结果:</h4>
        #{if results?.size()}
            #{search_user_result users:results /}
        #{/if}
      </div>
  </div>
</div>
