#{extends 'main.html' /}
#{set title:'师生配' /}

<div class="clearfix">
  <div id="main_content" class="clearfix">
    <div class="index_focus" style="overflow:hidden">
      <div class="imgbox">
          <div id="img1"><a href="http://www.baidu.com/" target="_blank">
            <img src="/public/images/ads/1.jpg" alt="" border="0"/></a>
            <span> > 公告1</span>
          </div>
          <div id="img2"><a href="/public/404.html" target="_blank">
            <img src="/public/images/ads/2.jpg" alt="" border="0"/></a>
            <span> > 公告2</span>
          </div>
          <div id="img3"><a href="/public/404.html" target="_blank">
            <img src="/public/images/ads/3.jpg" alt="" border="0"/></a>
            <span> > 公告3</span>
          </div>
          <div id="img4"><a href="/public/404.html" target="_blank">
            <img src="/public/images/ads/4.jpg" alt="" border="0"/></a>
            <span> > 公告4</span>
          </div>
          <div id="img5"><a href="/public/404.html" target="_blank">
            <img src="/public/images/ads/5.jpg" alt="" border="0"/></a>
            <span> > 公告5</span>
          </div>
          <div id="img6"><a href="/public/404.html" target="_blank">
            <img src="/public/images/ads/6.jpg" alt="" border="0"/></a>
            <span> > 公告6</span>
          </div>
      </div>
      <ul class="photo_showbtn">
        <li id="icon01" class="current"><a  href="javascript:slidBox1.clickSlid(0)">1</a></li>
        <li id="icon02" ><a  href="javascript:slidBox1.clickSlid(1)">2</a></li>
        <li id="icon03" ><a  href="javascript:slidBox1.clickSlid(2)">3</a></li>
        <li id="icon04" ><a  href="javascript:slidBox1.clickSlid(3)">4</a></li>
        <li id="icon05" ><a  href="javascript:slidBox1.clickSlid(4)">5</a></li>
        <li id="icon06" ><a  href="javascript:slidBox1.clickSlid(5)">6</a></li>
        <li style=" visibility:hidden;">
          <a class="pause" id='slidPause' href="javascript:slidBox1.pause('slidPause')"></a>
        </li>
      </ul>
    </div>
    <div>
        <ul id="index_user_nav" class="nav nav-tabs mgt20">
            <li class="active"><a href="#new_mentees" data-toggle="tab">最新学生信息</a></li>
            <li><a href="#new_mentors" data-toggle="tab">最新教师信息</a></li>
            <li><a href="#cases" data-toggle="tab">成功配对案例</a></li>
        </ul>
    </div>
    <div class="tab-content" style="overflow:hidden">
    #{if newestMentees.size()}
        <div class="tab-pane fade in active" id="new_mentees">
            #{index_new_users users:newestMentees/}
        </div>
    #{/if}
    
    #{if newestMentors.size()}
        <div class="tab-pane fade" id="new_mentors">
            #{index_new_users users:newestMentors/}
        </div>
    #{/if}
    
*{    #{if findMenteePosts.size()}
        <div class="tab-pane fade" id="find_mentee_posts">
            #{index_posts posts:findMenteePosts /}
        </div>        
    #{/if}
    
    #{if findMentorPosts.size()}
        <div class="tab-pane fade" id="find_mentor_posts">
            #{index_posts posts:findMentorPosts /}
        </div>        
    #{/if}}*
        <div class="tab-pane fade" id="cases">
          <table cellspacing="0" cellpadding="0" summary="成功配对案例"
              class="table table-striped table-bordered">
            <tbody>
              <tr>
                <td class="post_name"><a title="ALIVE" href="#">李教员</a>
                 - <a class="user_name" href="#" title="~">小龙同学</a></td>
              </tr>
              <tr class="even">
                <td class="post_name"><a title="ALIVE" href="#">张教员</a>
                 - <a class="user_name" href="#" title="~">小强同学</a></td>
              </tr>
              <tr>
                <td class="post_name"><a title="ALIVE" href="#">王教员</a>
                 - <a class="user_name" href="#" title="~">小白同学</a></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
  <div id="index_sidebar">
    *{此处的username实际上是User的email，根据该条件判断用户是否已登录}*
    #{if user != null && session.contains('username')}
    <div id="userinfo_preview" class="userinfo">
        <div class="user_inner">
            <p>
              <a class="pull-right" href="/logout" style="padding:3px 10px 0 0; color: #F60;">
                &{'views.main.tools.logout'}</a> 
              <a href="@{Users.myInfo()}" class="user_avatar">
                <img src="@{Application.showAvatar(user.id)}" width="50" height="50" /></a> 
              <a href="@{Users.myInfo()}"><strong>${user.username}</strong></a> 
              %{ userType = messages.get('text.field.label', user.userType) }%
              <span class="localcity">四川 成都 身份: ${userType} <br>课程: ${user.services}</span>
            </p>
            <ol class="unstyled">
              <li><a href="@{Blogs.index()}"><span class="badge badge-info">${num_of_posts}</span>
                <em>发布</em></a></li>
              <li class="fence"></li>
              <li><a href="@{UploadFiles.list()}"><span class="badge badge-info">${num_of_files}</span>
                <em>文件</em></a></li>
              <li class="fence"></li>
              <li><a href="#"><span class="badge badge-info">${num_of_files}</span><em>完成</em></a></li>
            </ol>
            <ul class="unstyled">
              <li class="my-clt my-count"><a href="#">我的收藏</a><span><!--(0)--></span></li>
              <li class="fence"></li>
              <li class="my-share my-count"><a href="#">我的分享</a><span><!--(4)--></span></li>
            </ul>
        </div>
    </div>
    <div id="index_credits">
        <p><span>积分：<em id="credite_show_index">${user.credits}</em></span>
          <span>等级：<em id="level_show_index"><a href='#'>高级教师用户</a></em></span>
        </p>
        <div id="index_level_tip">3级
          <p><span>245/500</span><em style="width: 15%;">&nbsp;</em></p>
          <b></b> </div>
        </div>
        <div id="index_task">
            <h3 class="text">赚取积分</h3>
            <div class="today_task">
            <ul id="task_showindex">
                <li><a class="showindex" href="javascript:;" onclick="joinTask(36,278);">
                      <i></i>评价其他用户或资源</a>
                    <div class="task_award">
                      <span class="badge badge-warning" rel="tooltip" title="积分">+10</span>
                    </div>
                </li>
                <li><a class="showindex" href="javascript:;" onclick="joinTask(36,277);">
                      <i></i>上传资源</a>
                    <div class="task_award">
                      <span class="badge badge-warning" rel="tooltip" title="积分">+10</span>
                    </div>
                </li>
                <li><a class="showindex" href="javascript:;" onclick="joinTask(36,276);">
                      <i></i>完善资料</a>
                    <div class="task_award">
                      <span class="badge badge-warning" rel="tooltip" title="积分">+10</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    #{/if}
    #{else}
    <div class="hero-unit mgl10" id="index_login" style="border-radius: 0">
       <h3>欢迎使用</h3>
       <p>为您提供便捷的师生匹配与学习资源推荐服务。</p>
       <p>
           <a href="@{casino.Secure.login()}" class="btn btn-primary">
               登录系统
           </a>
       </p>
       <div style="font-size:14px">没有账号？<a href="/registration" >快速注册</a></div>
    </div>
    #{/else}
    <div id="index_niceusers">
        <h3 class="text">优秀用户</h3>
        <ul class="unstyled">
          <li rel="5681053"> <a href="#"><img src="/public/images/avatar/1.jpg"/></a>
            <a href="#">李老师</a> (成都) / 男 
            <span><a class="label label-inverse" href="javascript:;" onClick="attention('5681053',1);">
              查看资料</a></span> 
          </li>
          <li rel="2136325"> <a href="#"><img src="/public/images/avatar/2.jpg"/></a>
            <a href="#">张同学</a> (成都) / 男 
            <span><a class="label label-inverse" href="javascript:;" onClick="attention('2136325',1);">
              查看资料</a></span> 
          </li>
          <li rel="6536366"> <a href="#"><img src="/public/images/avatar/3.jpg"/></a> 
            <a href="#">王老师</a> (成都) / 女 
            <span><a class="label label-inverse" href="javascript:;" onClick="attention('6536366',1);">
              查看资料</a></span> 
          </li>
        </ul>
        <div id="niceusers_bottom"><span><a class="label" href="/user/hot-users">
            更多优秀用户<i class="icon-chevron-right"></i></a><span></span></span></div>
    </div>
    <div id="tsmatch_mobile">
        <h3 class="text">移动客户端</h3>
    </div>          
  </div>
</div>
#{set 'moreScripts'}
    <script>
        $(document).ready(function(){
            slidBox1.init(['img1','img2','img3','img4','img5','img6'],7000,1000);slidBox1.run();
        });
    </script>
    <script src="@{'/public/javascripts/slidbox.js'}"></script>
#{/set}