#{extends 'main.html' /}
#{set title:'关键字搜索' /}
<div class="clearfix">
  <div id="searchbar" class="clearfix" style="margin-bottom:20px">
    #{form action:@Application.keywordSearch(), method:'GET', id:'search_box'}
      <input style="width:350px" id="search_query" type="text" name="query_string" onClick="searchFocus();" onBlur="searchBlur();" data-original-title="搜索老师、机构或者学生...例如：电子科技大学、段弘等" value="搜索老师、机构或者学生...例如：电子科技大学、段弘等" autocomplete="off"/>
      <input id="search_btn" type="submit" class="" value="" title="搜索"/>
    #{/form}
  </div>
  <div class="row">
      <div class="span2" id="search_nav">    
          <div class="well" style="padding: 8px;">
            <ul class="nav nav-list">
              <li class="nav-header">
                分类查看
              </li>
              <li class="${params.filter? (params.filter == '0' ? 'active' : '') : 'active'}">
                <a href="@{Application.keywordSearch(params.query_string, 0)}">全部搜索结果</a>
              </li>
              <li class="${params.filter == '1' ? 'active' : ''}">
                <a href="@{Application.keywordSearch(params.query_string, 1)}">学生</a>
              </li>
              <li class="${params.filter == '2' ? 'active' : ''}"> 
                <a href="@{Application.keywordSearch(params.query_string, 2)}">教师</a> 
              </li>
              <li class="${params.filter == '3' ? 'active' : ''}"> 
                <a href="@{Application.keywordSearch(params.query_string, 3)}">培训机构</a> 
              </li>
              *{<li class="${params.filter == '4' ? 'active' : ''}"> 
                <a href="@{Application.keywordSearch(params.query_string, 4)}">发布的需求</a> 
              </li>}*
            </ul>
          </div>
      </div>
    
      <div class="span8" id="search_result">
        #{ifErrors}
            <div class="alert alert-error"><h4>${errors[0]}</h4></div>
        #{/ifErrors}
        #{else}
            <div class="alert alert-info"><h4>“${params.query_string}”的搜索结果</h4></div>
        #{/else}
        #{if resultMentees?.size()}
          <h3>学生</h3>
          #{search_user_result users:resultMentees /}            
        #{/if}
        
        #{if resultMentors?.size()}
          <h3>教师</h3>
          #{search_user_result users:resultMentors /}  
        #{/if}
        
        #{if resultAgencies?.size()}
          <h3>培训机构</h3>
          #{search_user_result users:resultAgencies /}    
        #{/if}
    </div>
  </div>
</div>
